<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid-hero</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
</head>
<body>

<df-messenger
  intent="WELCOME"
  chat-title="covid-hero"
  agent-id="24ad3a06-a745-4281-8941-18329a3cb131"
  language-code="en"
></df-messenger>
</body>
</html>