<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="AI">
    <meta name="author" content="TOURE SOULEYMANE toure5013@gmail.com">
    <title>Covid hero </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
  <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
    
</head>

<body>
    <df-messenger
    intent="WELCOME"
    chat-title="covid-hero"
    agent-id="24ad3a06-a745-4281-8941-18329a3cb131"
    language-code="en"
    ></df-messenger>
    <h1 class="text-white">AI </h1>
    <section>
        <!--div>
        <img src="images/miet.png" style="width: 100px">
      </div-->
        <button><i class="fa fa-microphone"></i></button>

        <div>
            <p class="text-white"> You said: <em class="output-you">...</em></p>
            <p class="text-white">Bot replied: <em class="output-bot">...</em></p>
        </div>
    </section>

    <script src="/socket.io/socket.io.js"></script>
    <script src="js/script.js"></script>
</body>

</html>