.voiceOpener {
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 200px;
    height: 200px;
    border: 0;
    border-radius: 50%;
    padding: .7em 1em;
    margin: 0em auto 3em;
    text-align: center;
    color: #fff;
    background: linear-gradient(180deg, #000000 0%, #ea232a 80%, #ea232a 100%);
    box-shadow: 2px 5px 30px rgba(63, 200, 201, .4);
    will-change: transform, filter;
    transition: all 0.3s ease-out;
}

.voiceOpener .fa {
    font-size: 130px;
    line-height: 200px;
    margin: 0;
    text-shadow: 1px 2px 2px #2a8b90;
}

.voiceOpener:hover {
    transform: scale(.92);
}

.voiceOpener:active {
    filter: brightness(.5);
}

.voiceOpener:focus {
    outline: 0;
}

.voiceOpener.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 1.3em;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-github::before {
    content: "\f09b";
}


/* .text-white {
    color: #fff
} */